In [1]:
import pandas as pd
df = pd.read_csv("../base_datos_2008.csv/base_datos_2008.csv", nrows= 100000)


df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [3]:
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.sample(frac =1)

In [5]:
df.DepTime

67927    2007.0
32449    1325.0
6648     1310.0
95292     845.0
42143    2049.0
          ...
6680     1619.0
12733    1229.0
99995    2204.0
43807    1911.0
10120     755.0
Name: DepTime, Length: 100000, dtype: float64

In [6]:
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [7]:
df.values

array([[2008, 1, 24, ..., nan, nan, nan],
       [2008, 1, 13, ..., nan, nan, nan],
       [2008, 1, 5, ..., nan, nan, nan],
       ...,
       [2008, 1, 25, ..., 0.0, 0.0, 129.0],
       [2008, 1, 16, ..., nan, nan, nan],
       [2008, 1, 6, ..., nan, nan, nan]], dtype=object)

In [8]:
df2 = df.head(10)

In [9]:
df2.head(20)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
67927,2008,1,24,4,2007.0,1950,2246.0,2240,WN,135,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
32449,2008,1,13,7,1325.0,1320,1617.0,1630,WN,217,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6648,2008,1,5,6,1310.0,1300,1501.0,1455,WN,2176,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
95292,2008,1,29,2,845.0,850,1315.0,1332,XE,2,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
42143,2008,1,16,3,2049.0,2035,2155.0,2150,WN,735,...,7.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
72950,2008,1,25,5,1140.0,1145,1338.0,1345,WN,2031,...,4.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4983,2008,1,4,5,1531.0,1455,1634.0,1610,WN,374,...,4.0,11.0,0,NaN,0,24.0,0.0,0.0,0.0,0.0
19399,2008,1,9,3,818.0,820,939.0,945,WN,4,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
59545,2008,1,21,1,1055.0,930,1323.0,1200,WN,717,...,11.0,6.0,0,NaN,0,0.0,61.0,0.0,0.0,22.0
51892,2008,1,18,5,1904.0,1850,2112.0,2110,WN,3776,...,7.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN