In [ ]:
import pandas as pd
df = pd.read_csv("../data/aeropuerto.csv", nrows=1e6) # 10 elevado a la 6

In [3]:
dfduplicado = df.append(df)

C:\Users\emida\AppData\Local\Temp\ipykernel_12484\371347832.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfduplicado = df.append(df)

In [4]:
dfduplicado = dfduplicado.sample(frac=1)

In [5]:
dfclean = dfduplicado.drop_duplicates()

In [6]:
len(dfclean) == len(df)

False

In [7]:
len(dfclean)

999996

In [9]:
dfclean.drop_duplicates(subset= "DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
135022,2008,1,9,3,2220.0,2220,2315.0,2341,YV,2681,...,3.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
633554,2008,2,11,1,1038.0,945,1321.0,1230,WN,1355,...,4.0,12.0,0,NaN,0,35.0,0.0,0.0,0.0,16.0
443196,2008,1,22,2,1730.0,1713,1823.0,1803,NW,1111,...,7.0,17.0,0,NaN,0,0.0,0.0,3.0,0.0,17.0
246622,2008,1,1,2,1115.0,1040,1608.0,1539,UA,1144,...,5.0,12.0,0,NaN,0,0.0,21.0,0.0,0.0,8.0
335187,2008,1,15,2,1230.0,1235,1433.0,1439,EV,4546,...,9.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
110014,2008,1,5,6,1444.0,1435,1634.0,1613,XE,3094,...,9.0,15.0,0,NaN,0,4.0,0.0,12.0,0.0,5.0
938562,2008,2,29,5,1710.0,1700,1853.0,1845,F9,858,...,7.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
489946,2008,1,21,1,1215.0,1210,1411.0,1415,AA,673,...,4.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
859693,2008,2,10,7,1726.0,1736,2020.0,2011,US,454,...,20.0,30.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
42694,2008,1,16,3,1754.0,1755,1917.0,1925,WN,2202,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
824997,2008,2,13,3,616.0,618,937.0,941,UA,484,...,8.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
688686,2008,2,28,4,1943.0,1925,2043.0,2025,WN,1360,...,3.0,10.0,0,NaN,0,6.0,0.0,0.0,0.0,12.0
880546,2008,2,26,2,1941.0,1940,2033.0,2036,US,1882,...,4.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
111145,2008,1,18,5,625.0,625,825.0,827,XE,2788,...,9.0,29.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
506449,2008,1,7,1,1923.0,1915,2026.0,2025,AA,1367,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
408814,2008,1,12,6,1419.0,1415,1537.0,1535,MQ,4244,...,5.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
566197,2008,1,4,5,1239.0,1236,1538.0,1522,CO,1530,...,12.0,35.0,0,NaN,0,0.0,0.0,16.0,0.0,0.0
795167,2008,2,20,3,751.0,800,1010.0,1015,OO,3855,...,19.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
893339,2008,2,17,7,717.0,725,1002.0,1016,DL,654,...,9.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
158650,2008,1,14,1,1735.0,1730,2118.0,2105,OH,5366,...,6.0,50.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
975908,2008,2,19,2,938.0,915,1310.0,1300,MQ,3617,...,4.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
906133,2008,2,27,3,602.0,600,912.0,844,DL,1025,...,10.0,35.0,0,NaN,0,0.0,0.0,28.0,0.0,0.0
751137,2008,2,6,3,840.0,850,1016.0,1018,OH,5404,...,10.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
468790,2008,1,24,4,738.0,740,755.0,759,9E,5730,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
442038,2008,1,2,3,626.0,630,944.0,938,NW,1030,...,6.0,26.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
493063,2008,1,8,2,1211.0,1215,1548.0,1559,AA,808,...,4.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
768627,2008,2,3,7,1102.0,1007,1211.0,1103,OO,5562,...,4.0,9.0,0,NaN,0,0.0,0.0,68.0,0.0,0.0
505211,2008,1,31,4,1537.0,1505,1805.0,1645,AA,1327,...,8.0,43.0,0,NaN,0,0.0,3.0,48.0,0.0,29.0
89659,2008,1,30,3,1715.0,1715,1715.0,1720,WN,2639,...,5.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
708446,2008,2,25,1,1833.0,1840,2046.0,2107,XE,2877,...,6.0,35.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
67641,2008,1,23,3,1950.0,1950,2115.0,2115,WN,2380,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [10]:
df.dropna()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [11]:
df.dropna(thresh=25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [12]:
df.dropna(thresh=len(df.columns) -1)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [13]:
df.dropna(subset= ["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN